@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background-color: #f0f0f0;
    --text-color: #333;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --success-color: #28a745;
    --danger-color: #dc3545;
    --warning-color: #ffc107;
    --info-color: #17a2b8;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
    --font-family: 'Open Sans', sans-serif;
    --font-size: 16px;

}
html{
    font-family: var(--font-family);
}

body{
    background-color: var(--background-color);
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
}

main{

    background-color:burlywood;
}
a {
    color:blueviolet;
    text-decoration: none;
    width: 100px;
    margin-right: 3px;
    border: blue solid 1px;
    border-color: blue;
    border-radius: 0px;
    height: 10px;
    padding: 5px;
}