@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(249, 249, 246);
    margin-left: 0px;
    margin-right: 200px;
    padding-left: 50px;

}
div.card{
    margin-left: 250px;
    background-color: aliceblue;
    border-radius: 50px;
    margin-top: 40px;
    padding-bottom: 80px;
    padding-left: 45px;
    padding-top: 30px;
    padding-right: 45px;
}
p{
    margin-bottom: 45px;
}

span{
    margin-left: 400px;
    margin-top: 250px;
    color:green;
    border-color: aqua;
}
button{
    margin-left:400px;
    background-color: aqua;
    border-color: aqua;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
}

h1{
    color:black;
    margin-left: 200px;
}
image{
    border-radius: 8px;
}
