@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Roboto", sans-serif;
}

body{
    background-color: ivory;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

main{

    background-color:burlywood;
}
a {
    color:blueviolet;
    text-decoration: none;
    width: 100px;
    margin-right: 8px;
    border: blue solid 1px;
    border-color: blue;
    border-radius: 0px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 100px;
}
nav{
  
}


h1{
    color: blueviolet;
}

span{
    color: fuchsia;
    font-weight: 700;
}

#home{
    width: 200px;
}


a:hover{/* pseudo selector*/
background-color: rgba(17, 10, 23, 0.504);
border-top: 3px;
}

p{
    color:lightseagreen;
    background-color: indigo;
}

ul{
    color:lightseagreen ;
    margin-bottom: 0%;
}

h2{
    color: darkred;
    background-color: #D91656;
}
img{
    margin: 10px;
    margin-top: 0px;
}
pfp{
    margin: 100px;
    border-color: #D91656;
    border-bottom: 100px;
    margin-top: 100px;
    border-radius: 100px;
    width: 300px;
    
}
footer{
    padding-bottom: 50px;
    padding-left: 0px;
    background-color:rgba(28, 7, 7, 0.363) ;
}
ul{
    background-color:indigo;
}