body{
    background-color: #D89730;
    color: aliceblue;
    border: 0px;
    height: 2000px;
    overflow-y: auto;
a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: inline;
    
}
nav>a{
    position: relative;
    left: 25px;
    bottom: 25px;
}


header{
    border-bottom-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color:aqua;
}
img{
    margin-right: 25px;
    
}

div:nth-child(){
    position: relative;
    right: 0px;
}
main{

}
.relative{
    position: sticky;
    top: 10px;
}