body{
    background-color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
}
header>div>nav>ul>li{
    display: inline;
}
a{
    text-decoration: none;
    color: black;

}
h1{
    margin-bottom: 10px;
}
.hero{
    color: red;
}
main{
    display: inline-block;
}

footer{
    background-color: #D0CBC4;
    
}
.foot{
    display: inline-block;
}
