
html{
    font-family: "Roboto", sans-serif;
}
body{
    margin-left: 250px;
}
a,h1{
    color: chartreuse;
}
footer{
    margin-bottom: 30px;
}
header a{
    color: blueviolet;
}
li>a{
    color:brown;
}