html{
    font-family: "Roboto", sans-serif;
}
body{
    margin-left: 250px;
    margin-right: 250px;
    background-color:silver ;
}
header{
    background-color: #FFBD00;
}
p{
    color: darkgray;
    font-size: 20px;

    padding-right: 25px;
    padding-bottom: 25px;

}
p>a{
    color:rgba(37, 37, 169, 0.934);
    text-decoration: underline;

    
}

a:hover{
    background-color: darkblue;
}

nav{
    display:inline-block;
    font-size: medium;
    padding-right: 8px;
    font-weight: bold;
}
footer{
    background-color: darkorchid;
}